framework = net45
source https://www.nuget.org/api/v2/

nuget Accord 2.15.0 framework: >= net45
nuget Accord.MachineLearning 2.15.0 framework: >= net45
nuget Accord.Math 2.15.0 framework: >= net45
nuget Accord.Neuro 2.15.0 framework: >= net45
nuget Accord.Statistics 2.15.0 framework: >= net45
nuget AForge 2.2.5 framework: >= net45
nuget AForge.Genetic 2.2.5 framework: >= net45
nuget AForge.Math 2.2.5 framework: >= net45
nuget AForge.Neuro 2.2.5 framework: >= net45
nuget Deedle 1.2.1 framework: >= net40
nuget Deedle.RPlugin 1.2.1 framework: >= net40
nuget DynamicInterop 0.7.4 framework: >= net40
nuget FSharp.Charting 0.90.10
nuget FSharp.Core 3.1.2.1 framework: >= net45
nuget FSharp.Data 2.2.3
nuget MathNet.Numerics.FSharp.Signed 3.6.0 framework: >= net45
nuget MathNet.Numerics.MKL.Linux-x64
nuget MathNet.Numerics.MKL.Win-x64 1.7.0 framework: >= net45
nuget MathNet.Numerics.Signed 3.6.0 framework: >= net45
nuget R.NET.Community 1.6.4 framework: >= net40
nuget R.NET.Community.FSharp 1.6.4 framework: >= net40
nuget RProvider 1.1.12 framework: >= net40